
# Laravel Specific
/vendor
/node_modules
npm-debug.log
yarn-error.log

# Laravel 4



/.phpunit.cache
/public/hot
/public/storage
/storage/*.key
/storage/pail
.editorconfig
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
